<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Das Package PgChangeFeed.Client kommt ausschließlich aus dem Verzeichnis
       /neu (Artefakte von make sdk-pack-csharp), alles andere aus nuget.org. -->
  <packageSources>
    <clear />
    <add key="neu" value="/neu" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="neu">
      <package pattern="PgChangeFeed.Client" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
